.modal-footer {   border-top: 0px; }

.sign-in.btn
{
	margin-bottom: 5px;
}

body {
  padding-top: 51px;  
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

.page-title
{
	margin-bottom: 50px;
}

.publish-controls
{
	margin-top: 35px;
}

.header-input
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	font-size: 24px;
	outline: 0;
	border: none;
	margin-top: 8px;
	margin-bottom: 8px;
	display: block;
	width: 100%;
}

.content-input
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	outline: 0;
	border: none;
	margin: 0 0 10px;
	display: block;
	width: 100%;
}

.loading-overlay
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .7;
	z-index: 1000;
	overflow: hidden;
}

.loader
{
	display: none;
	overflow: hidden;
	position: absolute;
	width: 128px;
	height: 128px;
	background-image: url('/images/loading.gif');
	opacity: 1;
	z-index: 1100;
	left:0;
    right:0;
    top: 30%;
	margin: auto;

	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-moz-animation: fadein 2s; /* Firefox */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera */
	animation: fadein 2s;
}

.message-bar
{
	display: none;
	background-color: green;
	width: 100%;
	height: 30px;
	color: white;
	text-align: center;
	padding: 4px;
	margin: auto;
}

.editable
{
	outline: 0;
	border: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    background-color:#3b3b3b;
    padding-top:0;
  }
  #sidebar .nav>li {
    color: #ddd;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar .nav>li>a {
    color: #ddd;
  }
  #sidebar .nav>li>a>img {
    max-width: 14px;
  }
  #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;  
  }
  #sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  #sidebar .nav a:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
}